*.swp
*.swo
*~
.DS_Store
.VimballRecord
.netrwhist
tags
tmp
idea/*
bundle/*
!bundle/Vundle.vim
!bundle/Vundle.vim/*
plugged/*
!plugged/.gitkeep
plugins/*
!plugins/.gitkeep
undo_data/*
!undo_data/.gitkeep
